@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;500;700&display=swap');

$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$gray-light: hsl(217, 12%, 63%);
$gray-medium: hsl(216, 12%, 54%);
$blue-dark: hsl(213, 19%, 18%);
$blue-veryDark: hsl(216, 12%, 8%);
$font: 'Overpass', sans-serif;
$button-color : #262F38;
$bg-card: #1F2630;